<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h2>9054</h2>
<h2>Bhangale, Riya Rajendra</h2><br>
{##}
{#<table border="1">#}
{##}
{#{{ data1 }}#}
{#{{ isCache }}#}
{#    {% for row in data %}#}
{#    <tr>#}
{#    <td>{{ row[5] }}</td>#}
{##}
{##}
{#    </tr>#}
{#    {% endfor %}#}
{##}
{#</table>#}
{#<a href="/">Home</a>#}


<table border=1>
{#<tr>#}
{#    <td></td>#}
{#</tr>#}

{% for rows in info %}
<tr>
<td>{{ rows[1] }}</td>
<td>{{ rows[2] }}</td>
<td>{{ rows[3] }}</td>
</tr>

{% endfor %}
</table>
</body>
</html>