<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h2>9054</h2>
<h2>Bhangale, Riya Rajendra</h2><br>
<br>
		 Result of Addition {{ msg }}
<br>
<a href="/uploadCSV">Upload csv</a>
<br>
<br>
{#<a href = "/addAlldata">Result of add</a>#}
<br>
<a href = "/displayAll">Display all records</a>
{#<br>#}
{#<a href = "/display1000">Run query for 1000 times</a>#}
{#<br>#}
{#<a href = "/displayMag">Magnitude random query</a>#}

<br><br>
<h4>Point 5 </h4><br>
<form action="/popRange" method="POST">
Year: <input type="text" name="year"><br>
Range1:<input type="text" name="r1">
Range2:<input type="text" name="r2"><br>
Range3:<input type="text" name="r3">
Range4:<input type="text" name="r4"><br>
Range5:<input type="text" name="r5">
Range6:<input type="text" name="r6"><br>
<input type="submit" value="submit"><br><br>
</form>

{#<br><br>#}
{#<h4>Point 6 </h4><br>#}
{#<form action="/point6" method="POST">#}
{#    Number of Queries: <input type="text" name="qno">#}
{#    Depth 1:<input type="text" name="dep11">#}
{#    Depth 2:<input type="text" name="dep22">#}
{#    <input type="submit" value="Search"><br><br>#}
{#</form>#}
{#<br><br>#}
{#<h4>Point 7 </h4><br>#}
{#<form action="/point7" method="POST">#}
{#    Number of Queries: <input type="text" name="qno1">#}
{#    Depth 1:<input type="text" name="dep111">#}
{#    Depth 2:<input type="text" name="dep222">#}
{#    <input type="submit" value="Search"><br><br>#}
{#</form>#}
{##}
{#<br><br>#}
{#<h4>Point 8 </h4><br>#}
{#<form action="/point8" method="POST">#}
{#    Number of Queries: <input type="text" name="qno11">#}
{#    Depth 1:<input type="text" name="dep1111">#}
{#    Depth 2:<input type="text" name="dep2222">#}
{#    <input type="submit" value="Search"><br><br>#}
{#</form>#}
</body>
</html>