<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>9054</h2>
<h2>Bhangale, Riya Rajendra</h2><br>
{#<table border="1">#}
{#    <tr>#}
{#        <td>Count</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>{{ rec }}</td>#}
{#    </tr>#}
{#        <tr>#}
{#        <td>{{ rec1 }}</td>#}
{#    </tr>#}
{#        <tr>#}
{#        <td>{{ rec2 }}</td>#}
{#    </tr>#}
{#</table>#}

<div id="chart">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dimple/2.3.0/dimple.latest.min.js"></script>
    <script type="text/javascript">
        {#alert("Javascript Working");#}
    var svg = dimple.newSvg("#chart", 800, 600);
    var rdata = {{ data | tojson | safe }};
    var chart = new dimple.chart(svg, rdata);
    {#chart.setBounds(80, 30, 480, 330);#}
    chart.addMeasureAxis("p", "stateCount");
    {#chart.addCategoryAxis("x", "range");#}
    {#chart.addColorAxis("stateCount");#}
    chart.addSeries("range", dimple.plot.pie);
    chart.defaultColors = [
          new dimple.color("#3498db", "#2980b9", 1), // blue
          new dimple.color("#e74c3c", "#c0392b", 1), // red
          new dimple.color("#2ecc71", "#27ae60", 1), // green
          new dimple.color("#9b59b6", "#8e44ad", 1), // purple
          new dimple.color("#95a5a6", "#7f8c8d", 1), // gray
          new dimple.color("#FF0000", 1), // red
          new dimple.color("#00FF00", 1), // green

      ];
    chart.addLegend(600, 25, 90, 300, "left");
    chart.draw();
  </script>

</div>

</body>
</html>